#intro {
    display: flex;
    margin-bottom: 6em;

    #intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: center;
    }

    img {
        @media screen and (min-width: 512px) {
        max-height: 25vh;
        }
    }
}