#main-nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 0 10%;

    @media screen and (min-width: 1024px) {
        height: 75px;

        .navbar-start {
            padding-left: 2.5em;
            font-size: 18px;
        }
    }

    .navbar-burger {
        border: none;
        background-color: white;
    }
}