@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8em;

  @media screen and (max-width: 1024px) {
    padding-top: 2em;
  }
}

main.container {
  @media screen and (min-width: 1024px) and (max-width: 1299px)  {
      max-width: 100% !important;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
  }

  @media screen and (min-width: 1300px) and (max-width: 2399px)  {
      max-width: 100% !important;
      width: 100%;
      padding-left: 15%;
      padding-right: 15%;
  }

  @media screen and (min-width: 2400px) and (max-width: 3200px) {
      max-width: 100% !important;
      width: 100%;
      padding-left: 20%;
      padding-right: 20%;
  }
}

body {
  margin: 0;
  font-family: 'Karla', 'Helvetica Neue', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-weight: bold;
}

