#social-media {
  display: block !important;
}

#root footer h2 {
  border-bottom: 1px #ffdd57 solid;
  margin-bottom: 0.5em;
}

#root footer.title-container {
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-top: 5em;
  margin-top: 4em;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f0f8ff;
  text-align: left;
}

#footer-text {
  display: flex;
  align-items: center;
  justify-items: center;
}

#footer-logo {
  padding-left: 0.5em;
  margin-right: 1em;
}


#root footer.title-container #connect {
  margin-bottom: 3em;
}

#root footer.title-container a {
  background-color: #003067fa;
  padding: 0.75em 1em;
  border-radius: 6px;
  display: block;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  margin-left: 3em;
  text-decoration: none;
  color: white;
}

#root footer.title-container a:focus, #root footer.title-container a:hover {
  text-decoration: underline;
}

#root footer.title-container a:focus svg, #root footer.title-container a:hover svg {
  color: #ffdd57;
}

#root footer.title-container a svg {
  margin-right: 1em;
}

@media screen and (max-width: 1023px) {
  #root footer.title-container a {
    margin-left: 0;
  }

  #root footer .columns {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  #root footer.title-container #connect {
    margin-bottom: 1em;
  }

  #root footer.title-container {
    padding-top: 2em;
  }

  #root footer .columns {
    display: block;
  }
}
