#about-me {
    text-align: left;

    h1 {
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 1em;
    }

    #image-container {
        justify-content: center;
        display: flex;
    }

    img {
        max-height: 60vh;
    }
}